body{
    height: 1300px;
}

.footer{
    position: relative;
    margin-top: 100px;
}

.aboutTitle{
    display: flex;
    justify-content: center;
    padding-right: 25px;
}

main{
    padding-top: 70px;
    margin: 10px;

}

.picSize{
   width: 230px;
}

.picSizeR{
    width: 18px;
    transform: rotate(90deg); 
    padding-left: 75px;
}

.certificate{
    padding-top: 20px;
}

.missionStatement{
   font-size: 25px;
}

.sticky--hide{
    opacity: 0.1;
    transition: 1s;
}

.sticky--show{
    transition: 3s;
}

/* Iphon 13pro */
@media screen and (max-width: 428px) {
    body{
        height: 2200px;
        overflow-y: scroll;
    }

    main{
        padding-top: 70px;
    }

    .aboutTitle{
    padding-left: 40px;
    }

    .aboutContent{
        padding-left: 40px;
        padding-right: 20px;
    }

    .headerAbout{
        font-size: 36px;
    }

    .certificate{
        padding-top: 40px;
        padding-left: 35px;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 180px;
    }

    .ceo{
        text-decoration: underline;

    }

    .missionStatement{
        color: rgb(20, 42, 84);
        letter-spacing: 2pt;
     }


    .picSize{
        width: 300px;
        border: 1px black solid;
        box-shadow: 4px 10px rgba(0,0,0,0.2);
    }

    .certificate{
        padding-top: 40px;
        padding-left: 60px;
    }
}

 /* Iphone xr */
 @media screen and (max-width: 414px) {
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 170px;
    }

    body{
        height: 2300px;
    }
  }

        /* iphone 12 */
@media screen and (max-width: 393px) {

    body{
        height: 2300px;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 160px;
    }

    .certificate{
        padding-top: 40px;
        padding-left: 45px;
    }
}

 /* Samsung galaxy S8+ */
 @media screen and (max-width: 360px) {

    body{
        height: 2250px;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 150px;
    }

    .certificate{
        padding-top: 40px;
        padding-left: 45px;
    }

    .picSize{
        width: 250px;
        border: 1px black solid;
        box-shadow: 4px 10px rgba(0,0,0,0.2);
    }
 }

 /* pixel 4 */
@media screen and (max-width: 353px) {
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 140px;
    }

    }