body{
    height: 900px;
}

.footer{
    margin-top: 150px;
}

main{
    margin: 50px;
    padding-top: 200px;
}

@media screen and (max-width: 428px) {
    .nav_container{
        margin: 5px;
        padding: 15px;
        font-size: 20px;
    }

    .footer{
        margin-top: 110px;
    }
    
}