body{
    height: 1000px;
}

.footer{
    margin-top: 100px;
}

li{
    color: rgb(55, 137, 165);
}

main{
    margin: 50px;
    padding-top: 160px;
}

@media screen and (max-width: 2560px) {
    body{
        height: 1000px;
    }

    .footer{
        position: relative;
        margin-top: 0px;
    }

    main{
        padding-top: 100px;
    }
  }

  @media screen and (max-width: 428px) {
    .nav--hidden .nav_container{ 
        transform: translateY(calc(-1 * 230px));
        box-shadow: none;
        font-size: 10px;
        transition:  1s;
    }

    .logo{
        width: 150px;
        height: 150px;
    }
    header{
        margin:  10px;
        padding: 60px;
        padding-left: 80px;
        display: flex;
        justify-content: center;
    }

    .title{
        text-decoration: none;
        color: rgb(41, 87, 173);
        font-size: 25px;
    }


    .footer{
        margin-top: 0px;
    }

    body{
        height: 970px;
    }

    .nav_container{
        margin: 5px;
        padding: 15px;
        font-size: 20px;
    }

    main{
        padding-top: 200px;
        margin-left: 25px;
    }
    
    }